@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

#DOM{
    margin:0;
}
#canvas{
    margin:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
#grid{
    margin:0;
    width:700px;
    height:700px;
    display:grid;
    grid-template:
        repeat(100,minmax(7px,7px))/
        repeat(100,minmax(7px,7px));
}
.unit{
    margin:0;
    padding:0;
    font-size:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Encode Sans',sans-serif;
}
#story-board{
    position:fixed;
    height:700px;
    width:700px;
    background:transparent;
    display:grid;
    grid-template: 
        repeat(100,7px)/
        repeat(100,7px);

}
#office{
    grid-area:33/33/67/67;
    margin:0;
    background:white;
    transform-origin:bottom right;
    animation: close-laptop 2s linear 16s forwards;
}
@keyframes close-laptop{
    0%{transform:scaleY(1);}
    100%{transform:scaleY(.29);}
}
#monitor{
    padding-left:7px;
    padding-top:7px;
    font-family:'Encode Sans',sans-serif;
}
#Line1{
    margin:0;
    border-right:.1em solid black;
    overflow:hidden;
    white-space:nowrap;
    letter-spacing:.1em;
    animation:
        type 1.5s steps(15, end),
        blinking-caret .75s step-end 4,
        disolve-caret .01s linear 3s 1 forwards;
}
#line1{width:83px;}
#Line2{
    margin:0;
    font-size:80%;
    border-right:.1em solid black;
    overflow:hidden;
    white-space:nowrap;
    letter-spacing:.1em;
    animation:
        appear 3s linear,
        type 3s steps(20, end) 2.8s,
        blinking-caret .75s step-end 4,
        disolve-caret .01s linear 6s 1 forwards; 
}
#line2{width:214px}
#Line3{
    margin:0;
    font-size:80%;
    border-right:.1em solid black;
    overflow:hidden;
    white-space:nowrap;
    letter-spacing:.1em;
    animation:
        appear 6.2s linear,
        type 3s steps(20, end) 6s,
        blinking-caret .75s step-end 4,
        disolve-caret .01s linear 9s 1 forwards;
}
#line3{width:214px}
#Line4{
    margin:0;
    font-size:80%;
    border-right:.1em solid black;
    overflow:hidden;
    white-space:nowrap;
    letter-spacing:.1em;
    animation:
        appear 9.1s linear,
        type 3s steps(20, end) 8.9s,
        blinking-caret .75s step-end 4,
        disolve-caret .01s linear 12s 1 forwards;

}
#line4{width:136px}
#Line5{
    margin:0;
    font-size:80%;
    border-right:.1em solid black;
    overflow:hidden;
    white-space:nowrap;
    letter-spacing:.1em;
    animation:
        appear 12.5s linear,
        type 1.5s steps(15, end) 12.3s,
        blinking-caret .75s step-end 4;

}
#line5{width:98px}
@keyframes blinking-caret{
    0%{border-color:transparent;}
    50%{border-color:black;}
    100%{border-color:transparent;}
}
@keyframes type{
    0%{width:0}
    100%{width:100%}
}
@keyframes disolve-caret{
    0%{border-color:black;}
    100%{border-color:transparent;}
}
@keyframes appear{
    0%{opacity:0;}
    99%{opacity:0;}
    100%{opacity:1;}
}
#me-typing{
    margin-left:200px;
    margin-top:70px;
    height:30px;
    width:40px;
    /* background:url('stick-figure.png'); */
    background-size:contain;
}
#linkedin{
    margin-top:10px;
    height:100px;
    width:100px;
    background:green;
    /* background:url('github-icon.png'); */
    background-size:contain;
    border-radius: 50%;
}
.house{
    margin:0;
    background:white;
}
#hall-1{grid-area:57/23/67/33;}
#elevator-shaft-1{grid-area:67/24/57/16;}
#elevator-shaft-2{grid-area:56/24/46/16;}
#elevator-shaft-3{grid-area:45/24/35/16;}
#elevator-shaft-4{grid-area:34/24/24/16;}
#elevator-shaft-5{grid-area:23/24/13/16;}
#balcony{grid-area:13/2/23/10;}
#rail{grid-area:13/1/19/1;}
#hall-2{grid-area:13/29/23/70;}
#step-1{grid-area:13/72/23/75;}
#step-2{grid-area:15/75/25/78;}
#step-3{grid-area:17/78/27/81;}
#step-4{grid-area:19/81/29/84;}
#step-5{grid-area:21/84/31/87;}
#step-6{grid-area:23/87/33/90;}
#step-7{grid-area:25/90/35/93;}
#landing{grid-area:27/93/37/100;}
#garage-1{grid-area:85/2/100/40;}
#garage-2{grid-area:85/79/100/100;}
/* #garage-3{grid-area:87/69/100/84;}
#ranger{
    grid-area:91/70/100/83;
    background:url('assets/ranger.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right;
} */
#m3{
    grid-area:88/80/100/100;
    background:url('assets/ranger.jpg');
    background-repeat:no-repeat;
    background-size:contain;
}

#miata{
    grid-area:91/5/100/38;
    background:url('assets/miata.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right;
}
/* #m3{
    grid-area:90/36/100/60;
    background:url('assets/bmw-m3.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right;
} */



.frame{
    background:url('./assets/frame.jpg');
    background-size:contain;
}
#frame-1{grid-area:14/33/21/38;}
#frame-2{grid-area:14/43/21/48;}
#frame-3{grid-area:14/52/21/57;}
#frame-4{grid-area:14/61/21/66;} 
#framed-pic-1{
    grid-area:15/34/20/37;
    background:url('assets/github-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
#framed-pic-2{
    grid-area:15/44/20/47;
    background:url('assets/linkedin-icon1.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
#framed-pic-3{
    grid-area:15/53/20/56;
    background:url('assets/trello-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
#framed-pic-4{
    grid-area:15/62/20/65;
    background:url('assets/washington.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}





 


 



/* #screen-room{grid-area:70/60/90/99;} */
/* #projection-screen{
    grid-area:70/72/89/95;
    background:url('assets/projection-screen.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
} */





























#container{
    background:white;
    height:350px;
    width:350px;
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    font-family:'Encode Sans',sans-serif;
}
#-type-text{
    margin:0;
    border-right:.1em solid black;
    overflow:hidden;
    white-space:nowrap;
    letter-spacing:.1em;
    animation:
        type 1.5s steps(15, end),
        blinking-caret .75s step-end infinite,
}

 


  
  









































#msg{
    position: absolute;
    background-color:white;
    overflow:hidden;
    border-right:.15em solid black;
    white-space:nowrap;
    margin:0;
    letter-spacing:.15em;
    font-family:'Encode Sans', sans-serif;
}



@keyframes typing {
    from {width:0}
    to {width:100%}
}
@keyframes blinking-caret{
    from,to{border-color:white}
    50%{border-color:black}
}
@keyframes scaleEnter{
    0%{transform:scale(0);}
    100%{transform:scale(1);}
}