@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

#DOM{
    margin:0;
}
#canvas{
    margin:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
#grid{
    margin:0;
    width:700px;
    height:700px;
    display:grid;
    grid-template:
        repeat(100,minmax(7px,7px))/
        repeat(100,minmax(7px,7px));
    
}
.unit{
    margin:0;
    padding:0;
    font-size:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Encode Sans', sans-serif;
}
#container{
    background:white;
    height:350px;
    width:350px;
    position:fixed;
    /* animation: scaleEnter 3s linear 1; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'Encode Sans',sans-serif;
}
@keyframes scaleEnter{
    0%{transform:scale(0);}
    100%{transform:scale(1);}
}
#welcome{
    overflow:hidden;
    border-right:.1em solid black;
    white-space:nowrap;
    margin:0;
    letter-spacing:.1em;
    animation:
        type 1.5s steps(15, end),
        blinking-caret .75s step-end infinite,
        hold-center 1.5s linear 1;
}
@keyframes type{
    0%{width:0}
    100%{width:100%}
}
@keyframes blinking-caret{
    0%,100%{border-color:transparent;}
    50%{border-color:black;}
}



  
  









































#msg{
    position: absolute;
    background-color:white;
    overflow:hidden;
    border-right:.15em solid black;
    white-space:nowrap;
    margin:0;
    letter-spacing:.15em;
    font-family:'Encode Sans', sans-serif;
}



@keyframes typing {
    from {width:0}
    to {width:100%}
}
@keyframes blinking-caret{
    from,to{border-color:white}
    50%{border-color:black}
}