@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');
#DOM{
    margin:0;
}
#canvas{
    background:transparent;
    margin:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
#grid{
    margin:0;
    width:360px;
    height:360px;
    display:grid;
    grid-template:
        repeat(40,minmax(9px,9px))/
        repeat(40,minmax(9px,9px));
    background: radial-gradient(rgb(104, 104, 104),white);
    background-clip: text;
    color: transparent;
    transform: rotateY(0deg) rotate(-12deg);
}
.unit{
    margin:0;
    padding:0;
    font-size:60%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Encode Sans',sans-serif;
}
#globe-window{
    position:fixed;
    height:430px;
    width:430px;
    background:radial-gradient(circle at center, transparent 53%, white 59%); 
    display:grid;
    transform: rotateY(0deg) rotate(-12deg);
    animation: pulse_code 2s ease-in-out infinite;  
    background-position:center;
}
@keyframes pulse_code{
    0%,100%{background-size:100% ;}
    50%{background-size:75%;}
}
#globe-window::after{
    content: '';
    position: absolute;
    align-self:center;
    width: 70%;
    height: 50px;
    border-radius: 50%;
    background: rgba(0,0,0,0.055  );
    bottom: -50px;
    z-index: -1;
    filter: blur(10px);
    transform: rotateY(0deg) rotate(12deg) translatex(40px);
    animation: pulse_shadow 10s ease-in-out infinite;
}
@keyframes pulse_shadow{
    0%,100%{width:70% ;}
    50%{width:52.5%;}
}
#link-layer{
    height:700px;
    width:700px;
    position:fixed;
    border-radius: 50%;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}
#link-layer-buttons{
    display:flex;
    align-items: center;
    justify-content: center;
}
@font-face{
    font-family: 'Code';
    src: url('assets/CODE\ Light.otf') format('truetype');
}
button{
    height:35px;
    width:100px;
    font-family:'Code',sans-serif;
    font-size: xx-large;
    background:transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    cursor:pointer;
}
button:active{
    cursor:grabbing;
}
#mail-icon{
    background:url('assets/mail-icon.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
#github-icon{
    background:url('assets/github-icon.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
#linkedin-icon{
    background:url('assets/linkedin-icon.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
#resume-icon{
    background:url('assets/resume-icon.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
#code-icon{
    background:url('assets/code-icon.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
} 
#hammer-icon{
    background:url('assets/hammer-icon.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
button:hover{
    font-weight:bold;
}
#_0{animation-delay: -50s;}
#_1{animation-delay: -100s;}
#_2{animation-delay: -150s;}
#_3{animation-delay: -200s;}
#_4{animation-delay: -250s;}
#_6{animation-delay: -300s;}
#_5{
    animation:none;
    font-family:'GeminiMoon';
    font-size:xx-large;
    position:fixed;
    color:blue;
    width:420px;
    height:55px;
    display:flex;
    justify-content:center;
    align-items:center;
}
@keyframes orbit{
    0%{transform:rotate(0deg) translateX(260px) rotate(0deg);}
    100%{transform:rotate(360deg) translateX(260px) rotate(-360deg);}
}
#hidden-view{
    font-family:'Encode Sans',sans-serif;
    position:fixed;
    align-self:center;
    height:250px;
    width:250px;
    border-radius:50%;
    background:radial-gradient(circle at center, white 55%, transparent 72%);
    display:flex;
    justify-content:center;
    align-items:center;
}
@keyframes pulse{
    0%,100%{scale:120% ;}
    50%{scale:60%;}
}
@keyframes spinWorld{
    0%{transform:rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
    50%{transform:rotateY(360deg) rotateX(180deg) rotateZ(180deg);}
    100%{transform:rotateY(720deg) rotateX(360deg) rotateZ(360deg);}
} 
.world{
    position:fixed;
    perspective:1000px;
}
.cube{
    margin: auto 0px auto 0px;
    position:relative;
    width:300px;
    height:300px;
    transform-style:preserve-3d;
    animation: 
        spinWorld 30s infinite linear,
        pulse 10s ease-in-out infinite;  
}
.circle{
    position:absolute;
    width:100%;
    height:100%;
    border:3px double black;
    border-radius:50%;
    opacity:0.5;
    background:transparent;
}
.zero{transform:rotateX(90deg);}
.one{transform:rotateX(90deg);}
.two{transform:rotateY(45deg);}
.three{transform:rotateY(90deg);}
.four{transform:rotateY(135deg);}
button{
    height:35px;
    width:100px;
    font-size: xx-large;
    background:transparent;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    border:none;
    cursor:pointer;
    position:fixed;
    animation:orbit 300s linear infinite;
}
button:active{
    cursor:grabbing;
}
@font-face{
    font-family: 'GeminiMoon';
    src: url('assets/Gemini\ Moon.otf') format('truetype');
}
@font-face{
    font-family: 'Zector';
    src: url('assets/Zector.ttf') format('truetype');
}
@font-face{
    font-family: 'RoyalAcid';
    src: url('assets/Royalacid_o.ttf') format('truetype');
}
@font-face{
    font-family: 'AllRightsReserved';
    src: url('assets/All\ rights\ reserved.ttf') format('truetype');
}
@font-face{
    font-family: 'Karmatic';
    src: url('assets/ka1.ttf') format('truetype');
}
@font-face{
    font-family: 'OnStreet';
    src: url('assets/docallismeonstreet.otf') format('truetype');
}
@font-face{
    font-family: 'FakeHope';
    src: url('assets/FakeHope.ttf') format('truetype');
}
.red{
    color:red;
    font-family:'GeminiMoon',sans-serif;
}
.blue{
    color:blue;
    font-family:'Zector',sans-serif;
}
.orange{
    color:orange;
    font-family:'FakeHope',sans-serif;
    font-size:xxx-large;
}
.green{
    color:green;
    font-family:'RoyalAcid',sans-serif;
}
.black{
    color:black;
    font-family:'AllRightsReserved';
    font-size:350%
}
.purple{
    color:purple;
    font-family:'OnStreet';
    font-size:300%
}
.click-to-nav{position: fixed;}
#hover-linkedIn{
    width:150%;
    font-size:small;
    bottom:33px;
    right:-17px;
    color:red;
}
#hover-resume-top{
    width:250%;
    font-size:xx-large;
    bottom:39px;
    right:-53px;
    color:blue;
}
#hover-github-top{
    width:250%;
    font-size:large;
    bottom:39px;
    right:-40px;
    color:green;
}
#hover-github-bottom{
    width:250%;
    font-size:large;
    top:39px;
    right:-110px;
    color:green;
}
#hover-resume-bottom{
    width:250%;
    font-size:xx-large;
    top:37px;
    right:-97px;
    color:red;
}
#hover-projects-top{
    width:250%;
    font-size:xx-large;
    bottom:37px;
    right:-45px;
    color:red;
}
#hover-projects-bottom{
    width:250%;
    font-size:xx-large;
    top:37px;
    right:-131px;
    color:orange;
}
#projects{
    position:fixed;
    height:700px;
    width:700px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
}
.project-view{
    height:90%;
    width:90%;
    border-radius:50%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}
#exit-projects{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:10px;
    left:570px;
    font-family:'Zector';
    font-size:large;
    color:purple;
    height:35px;
    width:150px;
    animation:none;
}
#exit-projects:hover{
    background:purple;
    color:white;
    border-radius: 5px;
    cursor:pointer;
}
#exit-projects:active{
    cursor:grabbing;
}
#projects-go-left{
    height:50px;
    width:50px;
    font-family:'Zector';
    cursor:grabbing;
    position:absolute;
    top:middle;
    left:-10%;
    animation:none;
    background:url('./assets/arrow-left.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#projects-go-right{
    height:50px;
    width:50px;
    font-family:'Zector';
    cursor:grabbing;
    position:absolute;
    top:middle;
    right:-10%;
    animation:none;
    background:url('./assets/arrow-right.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#projects-go-right:hover,#projects-go-left:hover,
#projects-go-down:hover,#projects-go-up:hover{
    border:1px solid black;
}
#projects-go-up{
    height:50px;
    width:50px;
    font-family:'Zector';
    cursor:grabbing;
    position:absolute;
    top:-10%;
    right:middle;
    animation:none;
    background:url('./assets/arrow-up.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#projects-go-down{
    height:50px;
    width:50px;
    font-family:'Zector';
    cursor:grabbing;
    position:absolute;
    bottom:-10%;
    right:middle;
    animation:none;
    background:url('./assets/arrow-down.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#QuickChart{
    font-family:'arial';
    font-size:45px;
}
#CoffeeLink{
    font-family:'verdana';
    font-size:45px;
}
#Dividend{
    font-family:'arial';
    font-size:45px;
}
#AlienInvasion{
    font-family:'arial';
    font-size:45px;
}
#project-container{
    height:420px;
    display:flex;
}
#screen{
    margin:10px;
    border-radius:10px;
    display:flex;
    outline:1px solid black;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#stack{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
.icon{
    height:80px;
    width:80px;
    margin-left:10px;
}
#sql{
    background:url('assets/postgres-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#express{
    background:url('assets/express-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#react{
    background:url('assets/react-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#nodejs{
    background:url('assets/nodejs-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#mongo{
    background:url('assets/mongo-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#html{
    background:url('assets/html-icon.png');
    background-size:contain;
    background-repeat:no-repeat;
}
#css{
    background:url('assets/css-icon.png');
    background-size:80%;
    background-position:center;
    background-repeat:no-repeat;
    filter:grayscale(2);
}
#describe{
    height:20%;
    width:100%;
}
#description{
    font-size:medium;
    font-weight:lighter;
}
#dividend-img{
    height:340px;
    width:520px;
    background:url('./assets/dividend.png');
    background-size:90%;
    background-position:center;
    background-repeat:no-repeat;
}
.resume{
    position:fixed;
    height:600px;
    width:430px;
    border:3px double black;
    border-radius:15px;
    background:white;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
#header-buttons{
    width:100%;
    height:45px;
    display:flex;
    justify-content:right;
    align-items:top;
    animation:none;
}
.header-button{
    display:flex;
    text-align:center;
    margin-right:10px;
    margin-top:5px;
    height:20px;
    width:20px;
    animation:none;
    position: relative;
    border-radius:50%;
    font-family:arial;
    font-size:90%;
}
#exit-button{
    background:rgb(245, 35, 16);
}
#minimize-button{
    background:yellow;
    border:1px solid black;
}
#fullscreen-button{
    background:rgb(14, 199, 14);
}
#hold{
    animation: appear .5s linear forwards;  
}
@keyframes appear{
    0%{scale:0%;}
    100%{scale:100%;}
}
@keyframes gofullscreen{
    0%{scale:100%;}
    100%{scale:150%;}
}
#fullscreen{
    animation:gofullscreen .5s linear 0s 1 forwards;
}
@keyframes minimize{
    0%{scale:150%;}
    100%{scale:100%;}
}
#minimize{
    animation:minimize .5s linear 0s 1 forwards;
}
@keyframes blink{
    0%,100%{scale:125%;}
    50%{scale:95%;}
}
#click-for-fullscreen{
    position:absolute;
    top:-70px;
    right:-50px;
    animation: blink 3s linear infinite;
    font-family:sans-serif;
    color:green;
}
#download{
    position:relative;
    height:20px;
    width:70px;
    animation:none;
    font-size:small;
    font-family:arial;
    margin-right:10px;
    margin-top:5px;
    border-radius:5px;
    animation:blink-text 2s linear infinite;
    /* border:1px double black; */
}
#download:hover{
    animation:none;
    background:black;
    color:white;
}
@keyframes blink-download{
    0%,100%{background:black}
    50%{background:white}
}
@keyframes blink-text{
    0%,100%{color:black}
    50%{color:white}
}
@keyframes shrink{
    0%{transform:scale(1);}
    100%{transform:scale(0);}
}
#exit{
    animation: shrink 0.5s linear forwards;
}
#resume-pdf{
    height:220%;
    width:100%;
    background:url('./assets/resume.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}
